{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}">
        <title>Alex's Website</title>
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'portfolio/images/mainIcon.png' %}">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap" rel="stylesheet">    
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129873398-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-129873398-3');
        </script>
    </head>
    <body>
        <div id="navBar">
            <ul id="navBarList">
                <a href="{% url 'home' %}" class="websiteIconLink"><li class="mainLinkLink"><img class="mainIcon" src="{% static 'portfolio/images/mainIcon.png' %}"></li></a>
                <a href="{% url 'home' %}" class="websiteSectionLink"><li class="navBarLink">Home</li></a>
                <a href="{% url 'portfolio' %}" class="websiteSectionLink"> <li class="navBarLink">Portfolio</li></a>
                <a href="{% url 'resume' %}" class="websiteSectionLink"><li class="navBarLink">Resume</li></a>
                
            </ul>
        </div>
        <hr class="headerLine">

        {% block content %}
        {% endblock %}
    </body>

    <hr class="footerLine">
    <footer>
        <div class="websiteCertFooter">
            <h4>© 2020 by Alex Preston</h4>
        </div>
        
        <div id="socialLinks" class="socialLinksFooter">
            <a target="_blank" href="https://www.linkedin.com/in/alexrpreston/"><img class="socialLinkIcon" src="{% static 'portfolio/images/linkedin.png' %}"></a>
            <a target="_blank" href="https://github.com/alexrpreston"><img class="socialLinkIcon" src="{% static 'portfolio/images/github.png' %}"></a>
            <a target="_blank" href="mailto:apreston@smu.edu"><img class="socialLinkIcon" src="{% static 'portfolio/images/mail.png' %}"></a>
        </div>
        <div class="websiteSourceCodeFooter">
            <a class="portfolioLink" href="https://github.com/alexrpreston/alex.com-Portfolio-Website" target="_blank"><h4>View Source on Github</h4></a>
        </div>
        
    </footer>
</html>