{% load static %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/styles.css' %}">
        <title>Alex Preston's website</title>
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'portfolio/images/mainIcon.png' %}">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap" rel="stylesheet">    
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129873398-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-129873398-3');
        </script>
    </head>
    <body>
        <div class="imageNameHeader">
            <a href="{% url 'home' %}" class="headerImageLink"><img class="profileImage" src="{% static 'portfolio/images/profileImage.jpeg' %}"></a>
            <div class="imageNameInfo">
                <h4 class="nameHeader"><a href="{% url 'home' %}" class="headerNameLink">Alex Preston</a></h4>
                <p class="nameSubHeader">Student at Southern Methodist Univeristy</p>  
                <div class="socialLinksHomePage">
                    <a target="_blank" href="https://www.linkedin.com/in/alexrpreston/"><img class="socialLinkIconHomePage" src="{% static 'portfolio/images/linkedin.png' %}"></a>
                    <a target="_blank" href="https://github.com/alexrpreston"><img class="socialLinkIconHomePage" src="{% static 'portfolio/images/github.png' %}"></a>
                    <a target="_blank" href="mailto:apreston@smu.edu"><img class="socialLinkIcon" src="{% static 'portfolio/images/mail.png' %}"></a>
                </div>
            </div>
              
        </div>

        {% block content %}
        {% endblock %}
    </body>

    
</html>