{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
{% load markdown_extras %}

<div class="container">
  <div>
    <div class="">
        <a href="{% url 'home' %}" class="text-dark nameLink"><p class="fs-1 fw-bold m-0"><a class="nameHeader" href="{% url 'home' %}">Alex Preston</a> / <a class="nameHeader" href="{% url 'bookList' %}">bookshelf</a></p></a>
    </div>
  </div>
  <div class="row">
    <div class="">
      <div class="">
        <p class="fs-4">{% block title %} {{ book.title }} by {{ book.author }}{% endblock title %}</p>
        <p class="">{{ book.notes | markdown | safe }}</p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}