{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
<div>
    <div class="">
        <a href="{% url 'home' %}" class="text-dark nameLink"><p class="fs-1 fw-bold m-0"><a class="nameHeader" href="{% url 'home' %}">Alex Preston</a> / bookshelf</p></a>
    </div>
  </div>
<div class="">
    <p class="fs-5">I created this as a way to share books I've liked and the notes I've taken. I haven't finished every book on this list, some I've only read a few chapters, some I've read many times. Books marked in green I thought were extraordinary, ones that are underlined have a link to a notes page.</p>
    {% for book in book_list %}
        {% if book.slug != '0' %}
            <a href="{% url 'bookNotes' book.slug %}" class="{% if book.favorite != 0 %} text-success {%else %} text-dark {% endif %}"><p class="m-1">{{ book.title }}, by {{ book.author }}</p></a>
        {% else %}
            <p class="m-1 {% if book.favorite != 0 %} text-success {%else %} text-dark {% endif %}">{{ book.title }}, by {{ book.author }}</p>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}