{% extends 'portfolio/base.html' %}
{% load static %}
{% load markdown_extras %}


{% block content %}

    <div class="homePageSections">
        <div>
            <h4 class="homePageSectionHeader">What I'm working on</h4>
            <ul>
                <li>Summarizen</li>
                <li>Anim</li>
            </ul>
            <h5>Get a full list on my <a href="{% url 'portfolio' %}" class="websiteSectionLink">Projects page</a></h5>
        </div>
        <div>
            <h4 class="homePageSectionHeader">Newest Articles</h4>
                {% for post in post_list %}
                        <a href="{% url 'post_detail' post.slug  %}" class="blogTitle"><h2>{{ post.title }}</h2></a>
                {% endfor %}
            <h5><a href="{% url 'blog' %}" class="websiteSectionLink">See the rest</a></h5>
            
        </div>
    </div>
        
        

{% endblock %}
        