{% extends 'portfolio/base.html' %}
{% load static %}


{% block content %}
<h3 class="name">Alex Preston</h3>
<div id="socialLinks">
    <a target="_blank" href="https://www.linkedin.com/in/alexrpreston/"><img class="socialLinkIcon" src="{% static 'portfolio/images/linkedin.png' %}"></a>
    <a target="_blank" href="https://github.com/alexrpreston"><img class="socialLinkIcon" src="{% static 'portfolio/images/github.png' %}"></a>
    <a target="_blank" href="mailto:apreston@smu.edu"><img class="socialLinkIcon" src="{% static 'portfolio/images/mail.png' %}"></a>
    <a target="_blank" href="mailto:apreston@smu.edu"><img class="socialLinkIcon" src="{% static 'portfolio/images/stackoverflow.png' %}"></a>
</div>
{% endblock %}
        