{% extends 'portfolio/base.html' %}
{% load static %}


{% block content %}
<h2 class="portfolioHeader">Projects</h2>
<div class="individualProjects">
    <div class="projectImageDiv">
        <img class="projectImage" src="{% static 'portfolio/images/gpQuant.png' %}">
    </div>
    <div class="projectInfo">
        <h3 class="projectName">GP Quantitative</h3>
        <p>Projet descriptonLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec dolor lectus. Etiam ullamcorper mi nec nulla convallis maximus. Maecenas aliquam ligula ac massa sollicitudin malesuada. Suspendisse sed commodo nisi. Nam et congue ante, at commodo diam. Donec suscipit lorem vel lorem dignissim tempor. Cras et quam et lorem tempor eleifend congue sed mauris. Duis eu felis at ex vulputate semper eu sed tellus. Vivamus in dolor nec ex dictum finibus.</p>
        <a class="projectWebsiteLink" target="_blank">View Website</a>
        <a class="projectCodeLink" target="_blank">View Code<img class="socialLinkIcon" src="{% static 'portfolio/images/github.png' %}"></a>
        <ul class="projectLanguagesList">
            <li class="projectLanguageBox"><div class="projectLanguage">Python</div></li>
            <li class="projectLanguageBox"><div class="projectLanguage">Django</div></li>
            <li class="projectLanguageBox"><div class="projectLanguage">PostgreSQL</div></li>
            <li class="projectLanguageBox"><div class="projectLanguage">Pandas</div></li>
            <li class="projectLanguageBox"><div class="projectLanguage">NumPy</div></li>
        </ul>
    </div>
</div>

<div class="individualProjects">
    <div class="projectImageDiv">
        <img class="projectImage" src="{% static 'portfolio/images/bookSummarizer.png' %}">
    </div>
    <div class="projectInfo">
        <h3 class="projectName">Book Sumarizer</h3>
        <p>Projet descriptonLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec dolor lectus. Etiam ullamcorper mi nec nulla convallis maximus. Maecenas aliquam ligula ac massa sollicitudin malesuada. Suspendisse sed commodo nisi. Nam et congue ante, at commodo diam. Donec suscipit lorem vel lorem dignissim tempor. Cras et quam et lorem tempor eleifend congue sed mauris. Duis eu felis at ex vulputate semper eu sed tellus. Vivamus in dolor nec ex dictum finibus.</p>
        <a class="projectWebsiteLink" target="_blank">View Website</a>
        <a class="projectCodeLink" href="https://github.com/alexrpreston/Book-Summarizer" target="_blank">View Code<img class="socialLinkIcon" src="{% static 'portfolio/images/github.png' %}"></a>
        <ul class="projectLanguagesList">
            <li class="projectLanguageBox"><div class="projectLanguage">Python</div></li>
            <li class="projectLanguageBox"><div class="projectLanguage">Django</div></li>
            <li class="projectLanguageBox"><div class="projectLanguage">PostgreSQL</div></li>
            <li class="projectLanguageBox"><div class="projectLanguage">Pandas</div></li>
            <li class="projectLanguageBox"><div class="projectLanguage">NumPy</div></li>
        </ul>
    </div>
</div>

<div class="individualProjects">
    <div class="projectImageDiv">
        <img class="projectImage" src="{% static 'portfolio/images/newsAggregator.png' %}">
    </div>
    <div class="projectInfo">
        <h3 class="projectName">News Aggregator</h3>
        <p>Projet descriptonLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec dolor lectus. Etiam ullamcorper mi nec nulla convallis maximus. Maecenas aliquam ligula ac massa sollicitudin malesuada. Suspendisse sed commodo nisi. Nam et congue ante, at commodo diam. Donec suscipit lorem vel lorem dignissim tempor. Cras et quam et lorem tempor eleifend congue sed mauris. Duis eu felis at ex vulputate semper eu sed tellus. Vivamus in dolor nec ex dictum finibus.</p>
        <a class="projectWebsiteLink" href="http://alexrpreston.pythonanywhere.com/newsapp/" target="_blank">View Website</a>
        <a class="projectCodeLink" href="https://github.com/alexrpreston/News-Aggregator" target="_blank">View Code<img class="socialLinkIcon" src="{% static 'portfolio/images/github.png' %}"></a>
        <ul class="projectLanguagesList">
            <li class="projectLanguageBox"><div class="projectLanguage">Python</div></li>
            <li class="projectLanguageBox"><div class="projectLanguage">Django</div></li>
            <li class="projectLanguageBox"><div class="projectLanguage">PostgreSQL</div></li>
            <li class="projectLanguageBox"><div class="projectLanguage">Pandas</div></li>
            <li class="projectLanguageBox"><div class="projectLanguage">NumPy</div></li>
        </ul>
    </div>
</div>

<div class="individualProjects">
    <div class="projectImageDiv">
        <img class="projectImage" src="{% static 'portfolio/images/gpQuant.png' %}">
    </div>
    <div class="projectInfo">
        <h3 class="projectName">Free Trial Canceller</h3>
        <p>Projet descriptonLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec dolor lectus. Etiam ullamcorper mi nec nulla convallis maximus. Maecenas aliquam ligula ac massa sollicitudin malesuada. Suspendisse sed commodo nisi. Nam et congue ante, at commodo diam. Donec suscipit lorem vel lorem dignissim tempor. Cras et quam et lorem tempor eleifend congue sed mauris. Duis eu felis at ex vulputate semper eu sed tellus. Vivamus in dolor nec ex dictum finibus.</p>
        <a class="projectWebsiteLink" target="_blank">View Website</a>
        <a class="projectCodeLink" target="_blank">View Code<img class="socialLinkIcon" src="{% static 'portfolio/images/github.png' %}"></a>
        <ul class="projectLanguagesList">
            <li class="projectLanguageBox"><div class="projectLanguage">Python</div></li>
            <li class="projectLanguageBox"><div class="projectLanguage">Django</div></li>
            <li class="projectLanguageBox"><div class="projectLanguage">PostgreSQL</div></li>
            <li class="projectLanguageBox"><div class="projectLanguage">Pandas</div></li>
            <li class="projectLanguageBox"><div class="projectLanguage">NumPy</div></li>
        </ul>
    </div>
</div>

<div class="individualProjects viewMore">
    <div class="projectInfo">
        <a target="_blank" href="https://github.com/alexrpreston"><h3 class="viewMoreOnGithub">View the Rest on Github</h3></a>
    </div>    
</div>

{% endblock %}