{% extends 'portfolio/base.html' %}
{% load static %}


{% block content %}
<div>
  <div class="">
      <a href="{% url 'home' %}" class="text-dark nameLink"><p class="fs-1 fw-bold m-0">Alex Preston / projects</p></a>
  </div>
</div>
<div class="portfolioHeader">
    <h2 class="portfolioHeaderText">Projects</h2>
</div>



<div class="p-2">
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'portfolio/images/bookSummarizer.png' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title fw-bold fs-4">Summarizen</h5>
              <p class="card-text fs-6">Summarizen is a web application that lets users input any text such as an article, research paper, or anaylaticial paper, and automatically summarizes it using extractive summarization algorithms.</p>
              <div class="row">
                  <a target="_blank" href="https://summarizen.com" class="fs-6"><p>View Website</p></a>
              </div>
              <div class="row justify-content-start">
                  <p class="col btn btn-primary m-2">Django</p>
                  <p class="col btn btn-primary m-2">PostgreSQL</p>
                  <p class="col btn btn-primary m-2">Python</p>
                  <p class="col btn btn-primary m-2">JavaScript</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>


<div class="p-2">
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'portfolio/images/newsAggregator.png' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title fw-bold fs-4">FinTech News Aggregator</h5>
              <p class="card-text fs-6">FinTech News is a web application that scrapes data from six different news outlets and aggregates their topheadlines in one easy to view page. The service continuously scrapes every hour so the news is always up to date.</p>
              <div class="row justify-content-start">
                  <div class="col-3 m-2">
                    <a target="_blank" href="http://alexrpreston.pythonanywhere.com/newsapp/" class="fs-6">View Website</a>
                  </div>
                  <div class="col-3 m-2">
                    <a target="_blank" href="https://github.com/alexrpreston/News-Aggregator" class="fs-6">View Code</a>
                  </div>
                  
              </div>
              <div class="row justify-content-start">
                  <p class="col btn btn-primary m-2">Django</p>
                  <p class="col btn btn-primary m-2">SQLite</p>
                  <p class="col btn btn-primary m-2">Python</p>
                  <p class="col btn btn-primary m-2">JavaScript</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="p-2">
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'portfolio/images/searchEngine.png' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title fw-bold fs-4">Search Engine</h5>
              <p class="card-text fs-6">The Search Engine was a final group project for CS 2341. We coded it in C++ and used a few outside libraries to do data processing such as a Stemmer and a JSON Parser. The database can either be stored in a Hash Map or an AVL Tree depeding on what the user specifies in the UI.</p>
              <div class="row justify-content-start">
                  <div class="col-3 m-2">
                    <a target="_blank" href="https://github.com/alexrpreston/Search-Engine" class="fs-6">View Code</a>
                  </div>
                  
              </div>
              <div class="row justify-content-start">
                  <p class="col btn btn-primary m-2">C++</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>





<div class="individualProjects viewMore">
    <div class="projectInfo">
        <a target="_blank" href="https://github.com/alexrpreston" class="viewMoreOnGithubLink"><h3 class="viewMoreOnGithub">View the Rest on Github</h3></a>
    </div>    
</div>

{% endblock %}