{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
{% load markdown_extras %}

<div class="container">
  <div>
    <div class="">
        <a href="{% url 'home' %}" class="text-dark nameLink"><p class="fs-1 fw-bold m-0"><a class="nameHeader" href="{% url 'home' %}">Alex Preston</a> / <a class="nameHeader" href="{% url 'blog' %}">blog</a></p></a>
    </div>
  </div>
  <div class="">
    <div class="">
      <div class="">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class="text-muted">{{ post.created_on }}</p>
        <p class="">{{ object.content| markdown | safe }}</p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}