{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
<div class="readingList">
    <h2 class="readingListHeader">My Reading List</h2>
    <h3 class="readingListYear">2020</h3>
    <ol class="bookTitleList">
        <li class="bookTitle">Bezonomics, by Brian Dumaine</li>
        <li class="bookTitle">Fooled By Randomness, by Nassim Nicholas Taleb</li>
        <li class="bookTitle">12 Rules for Life, by Jordan Peterson</li>
        <li class="bookTitle">Elon Musk: Tesla, SpaceX, and the Quest for a Fantastic Future, by Ashlee Vance</li>
        <li class="bookTitle">Anything You Want, by Derek Sivers</li>
        <li class="bookTitle">Free Will, by Sam Harris</li>
        <li class="bookTitle">Mastery, by George Leonard</li>
        <li class="bookTitle">Zero to One, by Peter Thiel</li>
        <li class="bookTitle">Get Rich with Dividends, by Brian Dumaine</li>
        <li class="bookTitle">Astrophysics for People in a Hurry, by Neil deGrasse Tyson</li>
    </ol>
</div>

{% endblock %}